/* CSS HEX 
--gunmetal: #1f363dff;
--cerulean: #40798cff;
--verdigris: #70a9a1ff;
--cambridge-blue: #9ec1a3ff;
--tea-green: #cfe0c3ff;
*/
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
#root {
    background: var(--gunmetal);
}
:root {

    /* Retro futurist */
    --alabaster: #f0ece3ff;
    --eerie-black: #222222ff;
    --blue-violet: #7c3aedff;
    --picton-blue: #0ea5e9ff;
    --bright-pink-crayola: #fb7185ff;

    /* custom palette */
    --gunmetal: #1f363dff;
    --cerulean: #40798cff;
    --verdigris: #70a9a1ff;
    --cambridge-blue: #9ec1a3ff;
    --tea-green: #cfe0c3ff;
    --fire-brick: #A43223;

    /* Active palette */
    --background: var(--gunmetal);
    --text-primary: #222222;
    --accent-violet: #7C3AED;
    --accent-blue: #0EA5E9;
    --accent-pink: #FB7185;
    --muted: #E5E7EB;
}

.app {
    display: flex;
    flex-direction: column;
    background-color: var(--cerulean);
    margin-top: 50px;
}
body {
    background-color: var(--gunmetal);
}
h1 {
    color: var(--tea-green);
    text-align: center;
    font-family: "Trirong", sans-serif;   
    font-size: 48px;
    margin-bottom: 20px;
}



/* BODY below Header*/
main {
    /* Area */
    background-color: var(--cerulean);
    display: flex;
    flex-direction: column;
    padding-top: var(--nav-height);
}

/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin-top: 50px;
    padding: 10px;
    background-color: var(--gunmetal);
    color: var(--tea-green); 
}

@media (max-width: 768px) {
    nav {
        height: 60px;
        font-size: 1rem;
        padding: 0 10px;
    }
    
    nav button {
        padding: 6px 10px;
        margin: 0 5px;
    }
    
    nav img {
        max-width: 40px;
        margin: 0 5px;
    }
}